<div class="grid">
    <div class="container">
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <h1>AnimalesJunin</h1>
        </div>
    
        <h3>Ayudanos a ayudar</h3>
    
        <!-- <div class="container404">
            <h1>4</h1>
            <img src="/logo.png" alt="">
            <h1>4</h1>
        </div> -->
        
        <h1>Uy, te perdiste.</h1>
        <h4>La página que estabas buscando no existe.</h4>

        <button (click)="toHome()">Volver al inicio</button>
    
    </div>
</div>
