$color-principal: #00b4f0ff;
$font-color: white;
$font: "Kanit", sans-serif;

.container {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    height: 70vh;
    background-image: url('../../../../public/banner1.png');
    background-size: cover;

    .seccion1 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;

        h1 {
            font-family: $font;
            margin-left: 6rem;
            font-size: 5.8rem;
            font-weight: 800;
            line-height: 1.2em;
            color: $font-color;
            z-index: 2;

            b {
                color: $color-principal;
            }
        }
    
        h2 {
            font-family: $font;
            margin-left: 6rem;
            color: $font-color;
            margin-top: 2rem;
            font-size: 2.2rem;
            font-weight: 400;
            z-index: 2;
        }
    
        .buttons {
            display: flex;
            margin-left: 6rem;
            margin-top: 4rem;
            z-index: 2;

            button {
                width: 12rem;
                height: 3.5rem;
                z-index: 2;
                color: white;
                font-family: $font;
                margin-right: 2rem;
                border: none;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                border-radius: 100rem;
                transition: all ease-in-out 250ms;
                &:hover {
                    cursor: pointer;
                    transition: all ease-in-out 250ms;
                }
            }
    
            #adopta {
                // background-color: $color-principal;
                // border: 2px solid $color-principal;
                // width: 10rem;
                // &:hover {
                //     background-color: transparent;
                //     border: 2px solid white;
                // }
                background-color: transparent;
                border: 2px solid white;
                color: white;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
    
            #perdida {
                background-color: #00b4f0ff;
                border: 2px solid #00b4f0ff;
                color: white;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }


}

.sombra {
    background-color: rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 1600px) {
    .container {
        display: flex;
        flex-direction: column;
        padding-right: 4rem;
        height: 70vh;
        background-image: url('../../../../public/banner1.png');
        background-size: cover;
        background-position: -20rem 0;

        .sombra {
            background-color: rgba(0, 0, 0, 0.418);
            width: 100%;
            height: 70vh;
            position: absolute;
            z-index: 1;
        }
    
        .seccion1 {
            width: 100vw;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;

            h1 {
                font-family: $font;
                margin-left: 6rem;
                margin-right: 4rem;
                font-size: 4rem;
                font-weight: 800;
                line-height: 1.2em;
                color: $font-color;
                z-index: 2;

                b {
                    color: $color-principal;
                }
            }
        
            h2 {
                font-family: $font;
                margin-left: 6rem;
                margin-right: 6rem;
                color: $font-color;
                margin-top: 2rem;
                font-size: 1.8rem;
                z-index: 2;
                font-weight: 400;
            }
        
            .buttons {
                display: flex;
                margin-left: 6rem;
                margin-top: 4rem;
                z-index: 2;
                button {
                    width: 12rem;
                    height: 3.5rem;
                    color: white;
                    font-family: $font;
                    margin-right: 2rem;
                    border: none;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    border-radius: 100rem;
                    transition: all ease-in-out 250ms;
                    &:hover {
                        cursor: pointer;
                        transition: all ease-in-out 250ms;
                    }
                }
        
                #adopta {
                    // background-color: $color-principal;
                    // border: 2px solid $color-principal;
                    // width: 10rem;
                    // &:hover {
                    //     background-color: transparent;
                    //     border: 2px solid white;
                    // }
                    background-color: transparent;
                    border: 2px solid black;
                    color: black;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
        
                #perdida {
                    background-color: transparent;
                    border: 2px solid black;
                    color: black;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    
    
    }
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
      }
      
      .slide {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      
      .slide.active {
        opacity: 1;
      }
      
      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 255, 0.8);
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
      }
      
      button.prev {
        left: 10px;
      }
      
      button.next {
        right: 10px;
      }
      
      img {
        border-radius: 10px;
        max-height: 300px;
        margin-right: 20px;
      }
      
  }
  
