<div class="container">
    <div class="seccion1">
        <div class="sombra"></div>
        <!-- <h1>En <b>AnimalesJunin</b> encontrá a tu nuevo mejor amigo o ayudá a uno perdido</h1> -->
        <!-- <h1>Los animales cambian vidas, en <b>AnimalesJunin</b> podes cambiarle la vida a ellos</h1> -->
        <h1>
            Los animales
            <br>
            cambian vidas.
        </h1>
        <!-- <h2>Explorá mascotas en adopción y colaborá en encontrar a mascotas perdidas.</h2> -->
        <h2>Vos también podes cambiar la de ellos.</h2>
        <div class="buttons">
            <button id="adopta">Adoptá ahora</button>
            <button id="perdida">Reportar mascota perdida</button>
        </div>
    </div>
</div>

<!-- <div class="slider-container">
    <button class="prev" (click)="prevSlide()">&#9664;</button>
    <div class="slider">
        <div *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlide" class="slide">
            <img [src]="slide.image" [alt]="slide.alt" />
            <div class="info">
                <h2>{{ slide.name }}</h2>
                <p>{{ slide.details }}</p>
                <button class="adopt-btn">Adoptar ahora</button>
            </div>
        </div>
    </div>
    <button class="next" (click)="nextSlide()">&#9654;</button>
</div> -->